.logo{
    width: 4rem;
}

body{
    background-color: #F0F7FB !important;
    font-family: 'Inter', sans-serif !important;
}

img{
    max-width: 100%;
}

.centered{
    align-self: center;
}

.nav-link{
    color: #35D7DD !important;
}

.padding-10{
    padding: 10px;
}

.contato{
    cursor: pointer;
}

.nav-link:active{
    color: #20B9BF  !important;
}

.nav-item{
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.paleta1:hover{
    border-bottom: 2px solid #E46561 !important;
}

.row{
    transition-delay: 0.4s;
}

.paleta2:hover{
    border-bottom: 2px solid #20B9BF !important;
}

.paleta3:hover{
    border-bottom: 2px solid #61E4A7 !important;
    border-radius: 0 !important;
}

.zoom:hover{
    font-size: 1.4rem !important;
    transition: 0.4s;
}

.i-card:hover{
    font-size: 4.5em !important;
    transition: 0.2s;
}

.header-index{
    background-image: url('img2.png');
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    background-position: center;
}

.main{
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    text-align: center;
}

.paleta3{
    color: rgb(33, 37, 41) !important;
    border: 0 solid #61E4A7 !important;
}

.header-gif{
    background-image: url('header-gif.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bg-color{
    background-color: rgba(45, 111, 80, 0.053);
}

.bg-gradient-2{
    background: linear-gradient(90deg, rgba(97,228,167,1) 22%, rgba(97,224,228,1) 100%);
}

i{
    color: rgb(33,37,41, 0.75);
}

.bg-gif{
    background-image: url('bg-gif.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section-bounds {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: -155px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered-style{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link{
    font-size: 1.2em;
    font-weight: 300;
}

.btn-outline-dark:hover{
    background-color: transparent !important;
}

.font-size-15{
    font-size: 1.4rem !important;
}

.bg-carousel{
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 30px;
}

.title{
    font-weight: 300;
}

.btn-gradient-2{
    border: none !important;
    background: linear-gradient(90deg, rgba(97,228,167,1) 22%, rgba(97,224,228,1) 100%);
    min-width: 35% !important;
}

.btn-gradient-2:hover{
    background: linear-gradient(90deg, rgba(65,219,147,1) 22%, rgba(68,212,217,1) 100%);
}

.btn-gradient:hover{
    background: linear-gradient(90deg, rgba(97,224,228,1) 0%, rgb(29, 163, 168) 100%);
}

.img-carousel{
    max-height: 600px;
    min-height: 600px;
    object-fit: cover;
}

@media (max-width: 430px) {
    .carousel-caption{
        bottom: 20% !important;
    }
  } @media (min-width: 1001px) {
    .carousel-caption{
        bottom: 35% !important; 
    }
}@media (max-width: 1000px) and (min-width: 431px) {
    .carousel-caption{
        bottom: 25% !important; 
    }
}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.16)!important;
    transition: 0.2s;
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.btn{
    box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
}

@media (max-width: 500px) {
    .footer{
        position: relative;
    }
  } @media (min-width: 501px) {
    .footer{
        position: absolute; bottom: 0; 
    }
}

.top{
    height: 45rem;
    background-image: url('top-img.jpg');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.mg-7{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.mt-7{
    margin-top: 7rem;
}

.img-consultoria{
    background-image: url('img-consultoria.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.italic{
    font-style: italic;
}

.risco{
    color: #20B9BF;
    width: 20%;
    height: 2px;
    background-color: #20b9bf;
    margin: 0 auto 0;
    opacity: 1;
}

.font-weight-200{
    font-weight: 200;
}

.text-services{
    position: relative;
    top: 50%;
}

.risco2{
    color: #61E4A7;
    width: 15%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 1;
}

.font-weight-300{
    font-weight: 300;
}

.size-2rem{
    font-size: 2.5rem;
}

.col-white{
    color: white;
}

.top-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

ul{
    list-style: none;
    padding: 0 !important;
}

.middle{
    height: 60rem;
}

.h-60{
    height: 60vh;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.h-12{
    height: 12rem !important;
}

.bg-hover:hover{
    background-color: rgba(45, 111, 80, 0.053);
}

.box{
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 2.5rem;
    background-color: white;
}

.pointer{
    cursor: pointer;
}