.logo{
    width: 4rem;
}

body{
    background-color: #F0F7FB !important;
    font-family: 'Inter', sans-serif !important;
}

img{
    max-width: 100%;
}

.centered{
    align-self: center;
}

.nav-link{
    color: #35D7DD !important;
}

.padding-10{
    padding: 10px;
}

.contato{
    cursor: pointer;
}

.nav-link:active{
    color: #20B9BF  !important;
}

.nav-item{
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.paleta1:hover{
    border-bottom: 2px solid #E46561 !important;
}

.row{
    transition-delay: 0.4s;
}

.paleta2:hover{
    border-bottom: 2px solid #20B9BF !important;
}

.paleta3:hover{
    border-bottom: 2px solid #61E4A7 !important;
    border-radius: 0 !important;
}

.zoom:hover{
    font-size: 1.4rem !important;
    transition: 0.4s;
}

.i-card:hover{
    font-size: 4.5em !important;
    transition: 0.2s;
}

.header-index {
    height: 45rem;
    background-image: url('https://gessconsultoria.com.br/img/img2.png');
    background-size: cover;
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .header-index {
        background-attachment: scroll; 
        background-size: cover; 
        background-position: center; 
        background-image: url('img/img1celular.jpg'); 
    }
}


.main{
    padding-top: 10rem;
    position: relative;
    text-align: center;
    padding-bottom: 10rem;
}

.paleta3{
    color: rgb(33, 37, 41) !important;
    border: 0 solid #61E4A7 !important;
}

.header-gif{
    background-image: url('https://gessconsultoria.com.br/img/header-gif.gif');
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.header-cursos {
    height: 45rem;
    background-image: url('https://gessconsultoria.com.br/img/img-cursos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .header-cursos {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        background-image: url('img/img2celular.jpg'); 
    }
}


.min-h{
    min-height: 6rem;
}

.bg-color{
    background-color: rgba(45, 111, 80, 0.053);
}

.bg-gradient-2{
    background: linear-gradient(90deg, rgba(97,228,167,1) 22%, rgba(97,224,228,1) 100%);
}

i{
    color: rgb(33,37,41, 0.75);
}

.bg-gif{
    background-image: url('https://gessconsultoria.com.br/img/bg-gif.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section-bounds {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: -155px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered-style{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link{
    font-size: 1.2em;
    font-weight: 300;
}

.btn-outline-dark:hover{
    background-color: transparent !important;
}

.font-size-15{
    font-size: 1.4rem !important;
}

.bg-carousel{
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 30px;
}

.title{
    font-weight: 300;
}

.btn-gradient-2{
    border: none !important;
    background: linear-gradient(90deg, rgba(97,228,167,1) 22%, rgba(97,224,228,1) 100%);
    min-width: 35% !important;
}

.btn-gradient-2:hover{
    background: linear-gradient(90deg, rgba(65,219,147,1) 22%, rgba(68,212,217,1) 100%);
}

.btn-gradient:hover{
    background: linear-gradient(90deg, rgba(97,224,228,1) 0%, rgb(29, 163, 168) 100%);
}

.img-carousel{
    max-height: 600px;
    min-height: 600px;
    object-fit: cover;
}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.16)!important;
    transition: 0.2s;
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.btn{
    box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
}

@media (max-width: 1024px) {
    .footer{
        position: relative;
    }
  } @media (min-width: 1025px) {
    .footer{
        position: absolute; bottom: 0; 
    }
}

.top {
    height: 45rem;
    background-image: url('https://gessconsultoria.com.br/img/top-img.jpg');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .top {
        background-attachment: scroll; 
        background-size: cover; 
        background-position: center; 
        background-image: url('img/testecelular.jpg'); 
    }
}


.mg-7{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.mt-7{
    margin-top: 7rem;
}

.img-consultoria{
    background-image: url('https://gessconsultoria.com.br/img/img-consultoria.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.italic{
    font-style: italic;
}

.risco{
    color: #20B9BF;
    width: 20%;
    height: 2px;
    background-color: #20b9bf;
    margin: 0 auto 0;
    opacity: 1;
}

.font-weight-200{
    font-weight: 200;
}

.text-services{
    position: relative;
    top: 50%;
}

.risco2{
    color: #61E4A7;
    width: 15%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 1;
}

.risco21{
    color: #61E4A7;
    width: 15%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 0.4;
}

.risco3{
    color: #61E4A7;
    width: 25%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 0.4;
}

.risco4{
    color: #61E4A7;
    width: 40%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 0.4;
}

.risco5{
    color: #61E4A7;
    width: 55%;
    height: 2px;
    background-color: #61E4A7;
    margin: 0 auto 0;
    opacity: 0.4;
}

.font-weight-300{
    font-weight: 300;
}

.size-2rem{
    font-size: 2.5rem;
}

.col-white{
    color: white;
}

.top-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

ul{
    list-style: none;
    padding: 0 !important;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.h-12{
    height: 12rem !important;
}

.bg-hover:hover{
    background-color: rgba(45, 111, 80, 0.053);
}

.box{
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 2.5rem;
    background-color: white;
}

.pointer{
    cursor: pointer;
}
  
@media screen and (max-width: 920px) {
    .navMobile{
        display: block;
    }.myTopnav{
        display: none;
    }
}@media screen and (min-width: 921px){
    .navMobile{
        display: none;
    }.myTopnav{
        display: block;
    }
}

.navMobileLinks{
    text-align: center;
    width: 100%;
}

.icon{
    right: 10px;
    position: fixed;
}

.navMobile{
    position: fixed;
    background-color: #F0F7FB;
    z-index: 99999;
}

@media screen and (max-width: 920px) {
    .navMobileSpace{
        position: relative;
        visibility: hidden !important;
    }
}@media screen and (min-width: 921px){
    .navMobileSpace{
        display: none;
    }
}

.card-cursos{
    padding-left: 1 !important;
    padding-right: 1 !important;
}

.card-inner-cursos{
    border: 0 !important;
    border-radius: 0 !important;
}


.cursos-title{
    font-size: 1.6rem;
    color: ghostwhite;
    text-transform: uppercase;
    font-weight: 300;
}

.color-ghostwhite{
    color: ghostwhite !important;
}

.font-size-12{
    font-size: 1.2em;
}

.price{
    font-size: 2.2em;
    color: green;
}

.min-h-20{
    min-height: 20em;
}

.bg-green{
    background-color: #03a5a5;
}

.bg-green-2{
    background-color: #24bf9a;
}

.list-group-item{
    background-color: #0000001f !important;
    color: ghostwhite !important;
}

.w-100{
    width: 100%;
}

.quadrado{
    padding: 1em;
    box-shadow: 7px 7px 0px #0b9fa5;
    width: 100px;
    border: 1px solid #0b9fa5;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.quadrado-img{
    box-shadow: 7px 7px 0px #0b9fa5;
    width: 200px;
    border: 1px solid #0b9fa5;
    margin-left: auto;
    margin-right: auto;
}

.texto-modulos{
    text-align: left;
    font-size: 1.2em;
    text-transform: uppercase;
    vertical-align: middle;
}

.modulo-titulo{
    font-weight: 600;
    color: #0b9fa5;
}

@media (max-width: 1024px) {
    .display-inlineb{
        display: block;
        text-align: center;
        margin-top: 1em;
    }
  } @media (min-width: 1025px) {
    .display-inlineb{
        display: inline-block;
    }
}

.l-sub{
    font-size: 0.8em;
    text-transform: uppercase;
}

.bg-auditzs{
    background-image: url('./img/bg-auditzs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

@media (max-width: 1024px) {
    .titulo-auditzs{
        text-align: center;
        font-size: 1.8em;
        font-weight: 300;
        color: white;
        padding-left: 1em;
    }
  } @media (min-width: 1025px) {
    .titulo-auditzs{
        font-size: 2.5em;
        font-weight: 300;
        padding-left: 3em;
    }
}

.titulo-auditzs {
    color: white;
    text-transform: uppercase;
    left: -30px;
    background-image: url('./img/logo-auditzs.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.curso-1{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 0px #4d4898;
}

.titulo-cursos-auditzs{
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.botao-orcamento{
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #F0F7FB;
    opacity: 0.8;
    color: rgb(20, 21, 22);
    width: 12rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 2ch;
    border-width: 1.8px;
}

.botao-orcamento:hover{
    background-color: transparent !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16)!important;
    transition: 0.2s;
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

  